<a href="https://colab.research.google.com/github/wbwoo/colab/blob/main/%ED%98%BC%EA%B3%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#변수
a=1 ; b="python" ; c=[1,2,3]
d={'name':'phd','age':'56'}
e=(1,2,3) ; f=set([1,2,3])
print(type(a),type(b),type(c),type(d),type(e),type(f))
print(id(a), id(b), id(c), id(d), id(e), id(f))

<class 'int'> <class 'str'> <class 'list'> <class 'dict'> <class 'tuple'> <class 'set'>
94126905752064 140269568129136 140269195221264 140269167649888 140269167605152 140269231230320

In [ ]:
# a와 b가 동일한 메모리 할당
a=[1,2,3] ; b=a ; print(a,b)
print(id(a), id(b))
print(a is b)
a[1]=4 ; print(a,b)
print("~~~~~~~~~~~~~~~~~~~")
# a와 b가 다른 메모리 할당
a=[1,2,3] ; b=a[:] ; print(a,b)
print(id(a), id(b))
print(a is b)
a[1]=4 ; print(a,b)

[1, 2, 3] [1, 2, 3]
140269023267488 140269023267488
True
[1, 4, 3] [1, 4, 3]
~~~~~~~~~~~~~~~~~~~
[1, 2, 3] [1, 2, 3]
140269023491728 140269022910096
False
[1, 4, 3] [1, 2, 3]

In [ ]:
# a[:] 와 copy 모듈은 다른 메모리 할당.
from copy import copy
a=[1,2,3]
b=copy(a)
print(a is b)
print(id(a), id(b))

False
140269022391024 140269022391984

In [ ]:
# 변수를 만드는 여러 가지 방법
a,b='python','life' ; print(a,b)
(a,b)=('python','life') ; print(a,b)
[a,b]=['python','life'] ; print(a,b)
a=b='python';print(a,b)

python life
python life
python life
python python

In [ ]:
# 변수 값 바꾸기
a=3;b=5;print(a,b)
a,b=b,a;print(a,b)
#세 값 교체하기
a=3;b=5;c=7;print(a,b,c)
a,b,c,=b,c,a;print(a,b,c)

3 5
5 3
3 5 7
5 7 3

In [ ]:
#숫자 자료 유형
#정수형
a=123;b=-178;c=0
print(a,b,c)
print(type(a),type(b),type(c))

#실수형
f1=1.2; f2=-3.45
print(f1,f2)
print(type(f1),type(f2))

#지수형
e1=4.2E3; e2=4.2e-3
print(e1,e2)
print(type(e1),type(e2))

123 -178 0
<class 'int'> <class 'int'> <class 'int'>
1.2 -3.45
<class 'float'> <class 'float'>
4200.0 0.0042
<class 'float'> <class 'float'>

In [ ]:
#8진수
o1=0O11;o2=0o12
print(o1,o2)
print(type(o1),type(o2))

#16진수
x1=0X11; x2=0x12
print(x1,x2)
print(type(x1),type(x2))

9 10
<class 'int'> <class 'int'>
17 18
<class 'int'> <class 'int'>

In [ ]:
#사칙연산
a=5;b=3
#덧셈,뺄셈
print(a+b);print(a-b)
#곱셈,나눗셈
print(a*b);print(a/b)
#몫을 반환,나머지를 반환
print(a//b);print(a%b)
#제곱
print(a**b)

8
2
15
1.6666666666666667
1
2
125

In [ ]:
'''사용자 입력값 받기 input()
입력되는 모든 값은 문자열이다.'''
b=10
a=int(input())
print(type(a))
b=a+b; print(b)

3
<class 'int'>
13

In [ ]:
#프롬프트를 띄워 안내 후 입력 받기
number=int(input('숫자를 입력하세요 : '))
print('입력하신 값은 %d 입니다.' % number)

숫자를 입력하세요 : 3
입력하신 값은 3 입니다.

In [ ]:
# 여러 개 값을 받아 리스트에 저장하기
a = input('값을 3개 입력해 주세요(ex:1 2 3) ')
print(a)
b=list(a.split(' '))
print(b);print(type(b))

# 문자데이터를 정수로 바꾸어 리스트에 담기
int_b=[int(k) for k in b]
print(int_b)

값을 3개 입력해 주세요(ex:1 2 3) 1 4 5
1 4 5
['1', '4', '5']
<class 'list'>
[1, 4, 5]

In [ ]:
# 여러 개 값을 받아 리스트에 저장하기
a = input('값을 입력해 주세요(ex:1 2 3) ')
print(a)
b=list(a.split(' '))
print(b);print(type(b))

# 문자데이터를 정수로 바꾸어 연산
s=0
for k in b :
  s = s + int(k)
print(s)

값을 입력해 주세요(ex:1 2 3) 1 2 3 3 4 23 4 253
1 2 3 3 4 23 4 253
['1', '2', '3', '3', '4', '23', '4', '253']
<class 'list'>
293

In [ ]:
#파일 생성하기[file open mode w:쓰기, r:읽기, a:추가]
f = open("a.txt",'w')
f.close()

In [ ]:
 #파일 쓰기 모드로 열고 파일에 쓰기
f = open("a.txt",'w')
for i in range(1,6) :
  data = "%d 번째 줄입니다.\n" % i
  f.write(data)
f.close()

In [ ]:
#프로그램 외부 파일을 읽는 방법
#첫 줄 읽고 화면 출력
f = open("a.txt",'r')
line = f.readline()
print(line)
f.close(); print()

#모든 줄 읽고 화면 출력
f = open("a.txt",'r')
while True :
  line = f.readline()
  if not line : break
  print(line)
f.close()

1 번째 줄입니다.


1 번째 줄입니다.

2 번째 줄입니다.

3 번째 줄입니다.

4 번째 줄입니다.

5 번째 줄입니다.

In [ ]:
#read 함수 사용
f = open("a.txt",'r')
data = f.read()
print(data)
f.close()

1 번째 줄입니다.
2 번째 줄입니다.
3 번째 줄입니다.
4 번째 줄입니다.
5 번째 줄입니다.

In [ ]:
#파일에 새로운 내용 추가하기
f = open("a.txt",'a')
for i in range(6,8) :
  data = "%d 번째 줄입니다.\n" % i
  f.write(data)
f.close()

In [ ]:
#파일에 새로운 내용 한번 더 추가하기
f = open("a.txt",'a')
for i in range(8,11) :
  data = "%d 번째 줄입니다.\n" % i
  f.write(data)
f.close()

In [ ]:
# 파일을 열고 닫기 자동 with
with open("a.txt",'a') as f :
  f.write("python")
  f.write(" is good!!!")
with open("a.txt",'r') as f :
  data = f.read()
  print(data)

1 번째 줄입니다.
2 번째 줄입니다.
3 번째 줄입니다.
4 번째 줄입니다.
5 번째 줄입니다.
6 번째 줄입니다.
7 번째 줄입니다.
8 번째 줄입니다.
9 번째 줄입니다.
10 번째 줄입니다.
python is good!!!python is good!!!
python is good!!!\/python is good!!!python is good!!!python is good!!!python is good!!!python is good!!!python is good!!!